<p id="notice"><%= notice %></p>

<h1>Listing Notices</h1>

<ul class="users">
  <% @notices.each do |notice| %>
    <%= render 'shared/notice_item', notice: notice  %>
  <% end %>
</ul>


<br>

<br>

<%= link_to 'New Notice', new_notice_path %>
