<ul class="s-job-list">
	<% if @canditates.present? %>
	<% @canditates.each do |user| %>
	<%= render 'shared/user_item', user: user %>
	<% end %>
</ul>
<div class= "center col-md-12 ">
	<%= will_paginate @canditates %>
</div>
<% else %>
<p>There are no canditates found !</p>
<% end %>