<h1>New User</h1>

<div class="container centerDiv">
	<div class="fluid">
        <p><%= link_to 'I am a Canditate' , new_user_path(:user_type => '1'),  {:style=>'padding-top: 50px; padding-bottom: 50px;', :class => "btn btn-primary btn-lg btn-block"}  %>
        </p>
    </div>
    <br>
    <br>
    <br>
    <div class="fluid">
        <p><%= link_to 'I am a Company', new_user_path(:user_type => '2'), {:style=>'padding-top: 50px; padding-bottom: 50px;', :class => "btn btn-primary btn-lg btn-block"} %></p>
    </div>
</div>