<div class="container">
	<div class="jumbotron">
        <p class="lead"><%= link_to 'New User' , new_user_path(:user_type => '1') ,class: "btn btn-primary btn-lg btn-block" %></p>
        <p><%= link_to 'New Comapny', new_user_path(:user_type => '2'), class: "btn btn-primary  btn-lg btn-block" %></p>
    </div>
</div>