<div class="container centerDiv">
	<div class="jumbotron center col-md-6">
        <p class="lead"><%= link_to 'I am a User' , new_user_path(:user_type => '1') ,class: "btn btn-primary btn-lg btn-block" %></p>
        <p><%= link_to 'I am a Company', new_user_path(:user_type => '2'), class: "btn btn-primary  btn-lg btn-block" %></p>
    </div>
</div>