<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<ul class="users">
  <% @users.each do |user| %>
  	<%= render 'shared/user_item', user: user  %>
  <% end %>
</ul>


<br>

<%= link_to 'New User ?', before_sign_up_path %>
