<%= form_for(JobUserRelationship.create, remote: true) do |f| %>
			  <div><%= hidden_field_tag :job_id, job.id %>
			  <%= hidden_field_tag :user_id, user.id %></div>
			  <%= f.submit "Show Interest", class: "btn btn-primary  col-xs" %>
			<% end %>