
	<li>	
			<%= link_to image_tag(user.avatar.url(:thumb),  :class => "img-responsive"), user %>
			<%= user.email %>
			<%= link_to user.name,user %>
			<br>
			<%= render 'shared/interest_buttons', user: user, is_job_element: false  %>
	 	
	</li>
	