<li class="ad-list">
	<div class="s-firm-logo">
		<%= link_to image_tag(user.avatar.url(:thumb),:class => "img-responsive"), user %>
	</div>
	<div class="s-job-infos" >
		<%= link_to user.name, user, class: 's-job-title s-text-bold s-truncate'  %>

		<div class="s-job-sub-info">


			<div class="s-pull-right">
				<span class="s-job-location s-truncate">
					<span class: "s-job-title s-text-bold s-truncate">
						<%= strip_tags(user.presentation)[1..50]%>
					</span>
				</span>

			</div>
		</div>
	</div>
	<div class="s-job-transactions">
		<%= render 'shared/interest_buttons', user: user, is_job_element: false  %>
	</div>

</li>